<h1>Add New Comment</h1>
<form action="/comments/new" method='post'>
  <table>
    <tr>
      <td>Name: </td>
      <td><input type='text' name='name' required></input></td>
    </tr>
    <tr>
      <td>Comment:</td>
      <td><textarea name='content' rows="3" cols="20" required></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="save_comment"> <input type='submit' name='submit' value="Save Comment"></input></td>
    </tr>
  </table>

</form>